<% @page_heading = "Resend confirmation instructions" %>

<div class="prefix_1 suffix_1">
  <%= semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |form| %>
    <%= form.inputs do %>
      <%= form.input :email %>
    <% end %>
    <%= form.buttons do %>
      <%= form.commit_button 'Resend confirmation instructions' %>
    <% end %>
  <% end %>
  
  <%= render :partial => "devise/shared/links" %>
</div>

