<% @page_heading = "Account" %>

<div class="grid_12 center">
  <p id="notice"><%= notice %></p>
</div>
<div class="clear"></div>

<div class="prefix_1 suffix_1">
  <h3>Quick sign in link</h3>
  <p>Drag this link to your bookmarks bar. <%= link_to "Who Builds?", root_path(:auth_token => @person.authentication_token) %></p>
  <p><%= link_to "Reset authentication token", token_reset_path %></p>
  
  <h3>Details</h3>

  <%= semantic_form_for(@person, :url => person_path, :html => { :method => :put }) do |form| %>
    <%= form.inputs do %>
      <%= form.input :name %>
      <%= form.input :email %>
      <%= form.input :password, :hint => "leave blank if you don't want to change it" %>
      <%= form.input :password_confirmation %>
      <%= form.input :current_password, :hint => "we need your current password to confirm your changes" %>    
    <% end %>
    <%= form.buttons do %>
      <%= form.commit_button 'Update' %>
    <% end %>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", person_path, :confirm => "Are you sure?", :method => :delete %>.</p>

  <%= link_to "Back", :back %>
</div>
