<% @page_heading = "Sign in" %>

<div class="prefix_1 suffix_1">
  <%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form| %>
    <%= form.inputs do %>
      <%= form.input :email %>
      <%= form.input :password %>
      <% if devise_mapping.rememberable? %>
        <%= form.input :remember_me, :as => :boolean %>
      <% end %>
    <% end %>
    <%= form.buttons do %>
      <%= form.commit_button 'Sign in' %>
    <% end %>
  <% end %>

  <%= render :partial => "devise/shared/links" %>
</div>

