<% @page_heading = "Machines" %>

<div class="grid_12 center">
  <p id="notice"><%= notice %></p>
</div>
<div class="clear"></div>

<div class="prefix_1 suffix_1">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @machines.each do |machine| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= machine.name %></td>
          <td><%= link_to 'Edit', edit_machine_path(machine) %></td>
          <td><%= link_to 'Destroy', machine, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />

  <%= link_to 'New Machine', new_machine_path %>
</div>
