<% @page_heading = "Machine" %>

<div class="prefix_1 suffix_1">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @machine.name %>
  </p>


  <%= link_to 'Edit', edit_machine_path(@machine) %> |
  <%= link_to 'Back', machines_path %>
</div>