<% @page_heading = "Locked Machines" %>

<div class="grid_12 center">
  <p id="notice"><%= notice %></p>
</div>
<div class="clear"></div>

<% if @locks.blank? %>
  <div class="grid_12 center">
    <h3>All machines are free.</h3>
  </div>
<% else %>
    <% @locks.each_slice(4) do |locks_slice| %>
      <% locks_slice.each do |lock| %>
        <div class="grid_3 omega">
          <div class="box">
            <h2>
              <%= lock.machine.name %>
            </h2>
            <div class="block">
              <p><strong><%= lock.person.name %></strong> is on this machine for <%= time_ago_in_words(lock.done_at) %></p>
              <div class="center">
                <p><%= link_to '+30', extend_lock_path(lock) %> | <%= link_to 'Edit', edit_lock_path(lock) %> | <%= link_to "Done", lock, :confirm => 'Are you sure you want to relinquish control of this machine?', :method => :delete %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
<% end %>

<div class="clear"></div>
